@media screen and (max-width: 992px) {
    .main-header {
        padding: 24px 0;
    }
    .header-burger-menu {
        display: block;
        background: none;
        border: none;
        width: 36px;
        height: 36px;
    }
    .header-menu {
        display: none;
    }
    .header-logo {
        width: 90%;
    }
    .header-menu.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #fff;
        width: 50%;
    }
    .header-menu.show a {
        color: #A05F83;
    }
    .main-header-content {
        flex-direction: column;
    }
    .authorization-buttons {
        display: flex;
        justify-content: space-between;
    }
    .flight-card {
        width: 95%;
        margin-right: 0;
    }
    .flights-content {
        justify-content: center;
    }
}