@import 'reset.css';
@import 'fonts.css';
body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1160px;
    width: 95%;
    margin: 0 auto;
}

.main-header {
    background-image: url('../img/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 68px;
    height: 83vh;
    position: relative;
}

.header-decoration-image {
    width: 100%;
    height: 602px;
    position: absolute;
    bottom: -138px;
}

.header-burger-menu {
    display: none;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: inline-block;
    margin-right: 49px;
}

.header-menu li {
    margin-right: 24px;
}

.header-slogan-block {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-slogan-big {
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -1.4px;
    color: #fff;
    margin-bottom: 19px;
    max-width: 566px;
}

.header-slogan-small {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.6px;
    color: #fff;
    max-width: 454px;
}

.header-menu a,
.btn-login,
.btn-authorize {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    letter-spacing: -0.4px;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

.btn-authorize {
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 12px 20px;
    min-width: 112px;
    margin-left: 16px;
}

.btn-authorize:hover,
.header-menu a:hover {
    opacity: 0.8;
}

.flights {
    padding: 88px 0;
}

.flights-content {
    display: flex;
    flex-wrap: wrap;
}

.flight-card {
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(160, 95, 131, 0.5);
    width: 23%;
    margin-right: 30px;
    margin-bottom: 24px;
    background-color: #fff;
    transition: 0.5s;
}

.flight-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 0 rgba(160, 95, 131, 0.5);
}

.flight-card:nth-child(4n) {
    margin-right: 0;
}

.flight-company-logo {
    border-radius: 6px;
    height: 120px;
    position: relative;
}

.flight-company-logo::before {
    content: "";
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.flight-company-logo img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flight-carrier {
    color: #fff;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 21px;
}

.flight-info {
    padding: 16px;
}

.flight-info p {
    font-size: 17px;
    line-height: 21px;
    color: #A05F83;
    margin-bottom: 24px;
}

.flight-direction {
    font-weight: 500;
    text-decoration: underline;
}

.flights-carriers {
    display: flex;
    overflow-x: auto;
    margin-bottom: 24px;
}

.flights-carriers li {
    color: #A05F83;
    cursor: pointer;
    font-size: 21px;
    margin-right: 16px;
}